DATA TYPES

1.TUPLES--- which can store heterogeneous data type such a integers,float,strings,lists and dictionaries and immutable

In [2]:
tup = ()
print (tup, type(tup))

() <class 'tuple'>

In [4]:
tup2 = (1,"hey")
print (tup2, type(tup2))

(1, 'hey') <class 'tuple'>

In [5]:
tup4 = 1,2,3,"resfs"
print(tup4)

(1, 2, 3, 'resfs')

In [7]:
tup4[0]

1

In [9]:
A = ("kootrpaali","penny","sheldon","holowi")
A[-3]

'penny'

In [10]:
type(A[-1])

str

slicing-----> A[start:end:step]

In [11]:
A[::-1]  #reverse of strings

('holowi', 'sheldon', 'penny', 'kootrpaali')

In [12]:
A[2:4]

('sheldon', 'holowi')

In [13]:
len(A)

4

In [15]:
tup1= (10,20)
a,b = tup1
print(a)
print(b)

10
20

In [18]:
A1 = A[:]
print(A1)
id(A1)

('kootrpaali', 'penny', 'sheldon', 'holowi')

490330350760

In [20]:
dir(A1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [22]:
t1 = (1,2,3,4,5,6,7,8,9,4,3,6,7,8,9,3,4,5)
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 3, 6, 7, 8, 9, 3, 4, 5)

In [24]:
t1.count(3)

3

In [25]:
t1.index(5)

4

In [27]:
t2 = 10,30
t3 = t1+t2
print (t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 3, 6, 7, 8, 9, 3, 4, 5, 10, 30)

In [28]:
t2* 2

(10, 30, 10, 30)

In [31]:
print(t3[0])

1

In [32]:
id(t3[0])  #memory address

140721404220224

In [33]:
id(t3[2])

140721404220288

In [34]:
t5 = (1,2,3,9)
max(t5)

9

In [35]:
list =[1,2,3]
t1 = tuple(list)
print(t1)

(1, 2, 3)

In [36]:
a =input("enter the items ")
t1 =tuple(a.split() )
print(t1)

enter the items girl boy
('girl', 'boy')

In [38]:
tup1 = ("aa","aaz","z")
y=max(tup1)
z=min(tup1)
print(y,z)

z aa

2. LIST --> Built in data structure avaialble in python it can contain heterogeneous values such as integers,floats,strings,tuples,lists,dictionaries and mutable(can changed)

In [39]:
list0 =[]
type(list0)

list

In [43]:
list0 =[1,3,4,"a",(1,2)]
list0

[1, 3, 4, 'a', (1, 2)]

 List operation
1.accessing the values
2.slicing the list
3.updating the list
4.deleting values from the list
addition multiplication

In [64]:
list0 =[1,3,4,"a",("hell0","iron-man")]
list0[2]

4

In [65]:
list0[:]

[1, 3, 4, 'a', ('hell0', 'iron-man')]

In [66]:
list0[::-1]

[('hell0', 'iron-man'), 'a', 4, 3, 1]

In [67]:
list0

[1, 3, 4, 'a', ('hell0', 'iron-man')]

In [68]:
list0[4][1][5:]   # 3 dimensional

'man'

In [70]:
list4 = ["iron-man","thor"]

In [71]:
list4[1] = "thor-legend"

In [72]:
list4

['iron-man', 'thor-legend']

In [73]:
del list4[1]

In [74]:
list4

['iron-man']

In [75]:
list3 = [12,13,14]
a= 12
print(list3)

[12, 13, 14]

In [76]:
list3[0]

12

In [77]:
id(list3[0])

140721404220576

In [78]:
id(a)

140721404220576

In [79]:
del list3[0]

In [80]:
list3

[13, 14]

In [81]:
id(a)    #memory is same,we just did break the link of list3

140721404220576

In [83]:
list6 =list3[:]
print(list3)

[13, 14]

In [84]:
id(list6)   #list3 adress not overlapping with list6 adress

490330335816

In [85]:
[10,20]+[43,56]

[10, 20, 43, 56]

In [86]:
[12,13]*2

[12, 13, 12, 13]

List methods
1.Append()
2.Extend()
3.count()
4.index()

In [87]:
list4

['iron-man']

In [93]:
list4.append(('loki'))

In [94]:
list4

['iron-man', 'loki', 'loki', 'loki', 'loki']

In [95]:
list4.append(("captain","flash"))

In [96]:
list4

['iron-man', 'loki', 'loki', 'loki', 'loki', ('captain', 'flash')]

In [98]:
list4.extend("antman")     #extend() always take a series

In [99]:
list4

['iron-man',
 'loki',
 'loki',
 'loki',
 'loki',
 ('captain', 'flash'),
 'a',
 'n',
 't',
 'm',
 'a',
 'n']

In [101]:
list4.extend(("nick","priyanka"))

In [102]:
list4

['iron-man',
 'loki',
 'loki',
 'loki',
 'loki',
 ('captain', 'flash'),
 'a',
 'n',
 't',
 'm',
 'a',
 'n',
 'nick',
 'priyanka']

In [103]:
list4.extend((30,))

In [104]:
list4

['iron-man',
 'loki',
 'loki',
 'loki',
 'loki',
 ('captain', 'flash'),
 'a',
 'n',
 't',
 'm',
 'a',
 'n',
 'nick',
 'priyanka',
 30]

In [113]:
list4[0:14].count("loki",)

4

In [112]:
len(list4)

15

In [114]:
list4.index("loki")

1

List Methods
1. Insert
2. Remove
3. pop
4. reverse
5. sort

In [115]:
help(list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [116]:
list4.insert(1,"captain")

In [117]:
list4

['iron-man',
 'captain',
 'loki',
 'loki',
 'loki',
 'loki',
 ('captain', 'flash'),
 'a',
 'n',
 't',
 'm',
 'a',
 'n',
 'nick',
 'priyanka',
 30]

In [119]:
list4.remove("captain")

In [120]:
list4.remove("loki")

In [121]:
list4

['iron-man',
 'loki',
 'loki',
 'loki',
 ('captain', 'flash'),
 'a',
 'n',
 't',
 'm',
 'a',
 'n',
 'nick',
 'priyanka',
 30]

In [122]:
list4 = ["strak","power"]

In [124]:
list4.pop(-1)   # want to see the removed element, return the removed elements

'power'

In [127]:
list4.append(('captain', 'flash'),)

In [128]:
list4

['strak', ('captain', 'flash')]

In [129]:
list4.reverse()

In [130]:
list4

[('captain', 'flash'), 'strak']

In [134]:
list11 = [1,2,3,4,5,6,7,6]
list12 = []
for each in list11:
    if each%2!=0:
        list12.append(each)
print(list12)

[1, 3, 5, 7]

In [ ]:
list11 #sort(key,reverse) works oonly for homogeneouos values, stable sort(maintain the order of sorting)----> time complexity is n square

In [135]:
list11.sort()

In [136]:
list11

[1, 2, 3, 4, 5, 6, 6, 7]

In [137]:
list11.sort(reverse=1)

In [138]:
list11

[7, 6, 6, 5, 4, 3, 2, 1]

In [139]:
list0 = [('k',10),('b',5),('c',10),('d',6)]
print(list0)

[('k', 10), ('b', 5), ('c', 10), ('d', 6)]

In [151]:
list0.sort()
print(list0)

[('b', 5), ('c', 10), ('d', 6), ('k', 10)]

In [152]:
def fun(x):     #complete tuple is x
    print(x)
    return x[1]
list0.sort(key=fun)

('b', 5)
('c', 10)
('d', 6)
('k', 10)

In [153]:
print(list0)

[('b', 5), ('d', 6), ('c', 10), ('k', 10)]

In [160]:
list13 = [(10,4),(2,4),(6,7),(2,6)]   #sort based upon there sum of each tuple
def fun1(x):
    print(x)
    return x[0]+x[1]
list13.sort(key=fun1)
print(list13)

(10, 4)
(2, 4)
(6, 7)
(2, 6)
[(2, 4), (2, 6), (6, 7), (10, 4)]

In [161]:
def fun1(x):
    print(x)
    return x[0]
list13.sort(key=fun1)
print(list13)

(2, 4)
(2, 6)
(6, 7)
(10, 4)
[(2, 4), (2, 6), (6, 7), (10, 4)]

# Assignment 1. list = [0,1,2,10,4,1,0,56,2,0,1,3,0,56,0,4] Sort them in increasing order but all zeros should be at right hand side

In [14]:
list6 = [0,1,2,10,4,1,0,56,2,0,1,3,0,56,0,4]
list6.sort()
print(list6)

[0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 3, 4, 4, 10, 56, 56]

In [15]:
def pushZerosToEnd(list6, n):         #Gks
    count = 0 
    for i in range(n): 
        if list6[i] != 0: 
            list6[count] = list6[i] 
            count+=1
    while count < n: 
        list6[count] = 0
        count += 1
        
# Driver code 
list6 = [0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 3, 4, 4, 10, 56, 56]
n = len(list6) 
pushZerosToEnd(list6, n) 
print("Array after pushing all zeros to end of array:") 
print(list6)

Array after pushing all zeros to end of array:
[1, 1, 1, 2, 2, 3, 4, 4, 10, 56, 56, 0, 0, 0, 0, 0]

# Assignment 2. list1=[10,20,40,60,70,80], list2=[5,15,25,35,45,60] Merge these two sorted list produce one sorted list, but use onle loop there while or for only one time and do not use sort method.

In [4]:
list1=[10,20,40,60,70,80]
list2=[5,15,25,35,45,60]
number = list1 + list2

In [5]:
i= 0
for i in range(i,len(number)):
    for j in range(i+1, len(number)):
        if number[i]>number[j]:
            temp = number[i]
            number[i]=number[j]
            number[j]=temp
print("the sorted list", number)

the sorted list [5, 10, 15, 20, 25, 35, 40, 45, 60, 60, 70, 80]